@inherits LayoutComponentBase

<PageTitle>Wedding Organizer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://beniaminkwak.pl/" target="_blank">Created by GentleBen</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
