@page "/addcameraman"
@inject WeddingOrg.Controllers.CameramenController CameramenController
@using WeddingOrg.Application.Models.Cameramen.DTOs
@inject NavigationManager NavigationManager
@inject IHttpClientFactory _clientFactory

<PageTitle>Dodaj kamerzystę</PageTitle>
<RadzenTemplateForm TItem="FilledInfo" Data=@fbInsta Submit=@OnSubmit>
    <RadzenCard Class="my-5 mx-auto" Style="max-width: 400px;">
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Nazwa kamerzysty</RadzenText>
        <RadzenTextBox Placeholder="np. OndeWedding" Name="Facebook" @bind-Value=@fbInsta.Name Style="width: 100%;" />
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Facebook kamerzysty</RadzenText>
        <RadzenTextBox Placeholder="facebook.com" Name="Facebook" @bind-Value=@fbInsta.Facebook Style="width: 100%;" />
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Class="mt-4">Instagram kamerzysty</RadzenText>
        <RadzenTextBox Placeholder="instagram.com" Name="Instagram" @bind-Value=@fbInsta.Instagram  Style="width: 100%;" />
        <div class="row">
            <div class="col-md-12 d-flex align-items-end justify-content-left mt-4">               
                
            </div>
            <RadzenButton ButtonType="ButtonType.Submit" Text="dodaj" />
        </div>
    </RadzenCard>
</RadzenTemplateForm>
<div class="form-group">
    <input class="form-control" type="text" placeholder="Filtruj..."
           @bind="Filter"
           @bind:event="oninput">
</div>
<button style="margin:10px" class="btn btn-danger" @onclick="DeleteSelectedCameramen">Usuń zaznaczone</button>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                <input type="checkbox" @onclick="SelectAll" />
            </th>
            <th>ID</th>
            <th>Nazwa kamerzysty</th>
            <th>Facebook kamerzysty</th>
            <th>Instagram kamerzysty</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cameraman in Cameramen)
        {
            if (!IsVisible(cameraman))
                continue;
            <tr>
                <td><input type="checkbox" @bind="cameraman.IsSelected" /></td>
                <td>
                    @cameraman.Id
                </td>
                <td>
                    @cameraman.Name
                </td>
                <td>
                    @cameraman.Facebook
                </td>
                <td>
                    @cameraman.Instagram
                </td>
             </tr>
        }
    </tbody>
</table>
@code {

    protected override async Task OnInitializedAsync()
    {
        var cameramenDtos = await CameramenController.GetCameramen(CancellationToken.None);
        Cameramen = cameramenDtos.Select(dto => new WeddingOrg.Domain.Entities.Cameraman(dto.cameramanName, dto.cameramanFacebook, dto.cameramanInstagram)).ToList();
    }
    private List<WeddingOrg.Domain.Entities.Cameraman> Cameramen = new();

    public class FilledInfo
    {
        public string Name { get; set; }
        public string Facebook { get; set; }
        public string Instagram { get; set; }
    }
    FilledInfo fbInsta = new FilledInfo();
    async void OnSubmit(FilledInfo arg)
    {
        var updateCameramanDto = new CameramanDto(fbInsta.Name,fbInsta.Facebook, fbInsta.Instagram);
        await CameramenController.CreateCameraman(updateCameramanDto);
        Cameramen = (await CameramenController.GetCameramen(CancellationToken.None))
                .Select(dto => new WeddingOrg.Domain.Entities.Cameraman(dto.cameramanName, dto.cameramanFacebook, dto.cameramanInstagram))
                .ToList();
        StateHasChanged();
        NavigationManager.NavigateTo("/addcameraman", true);
    }

    public string Filter { get; set; }
    public bool IsVisible(WeddingOrg.Domain.Entities.Cameraman cameraman1)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;
        if (cameraman1.Name.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;
        if (cameraman1.Facebook.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;
        if (cameraman1.Instagram.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
    private void SelectAll()
    {
        foreach (var cameraman in Cameramen)
        {
            cameraman.IsSelected = true;
        }
    }

    private async Task DeleteSelectedCameramen()
    {
        var selectedCameramen = Cameramen.Where(r => r.IsSelected).ToList();
        foreach (var restaurant in selectedCameramen)
        {
            await CameramenController.DeleteCameramanById(restaurant.Id, default);
        }
        Cameramen = (await CameramenController.GetCameramen(CancellationToken.None))
                .Select(dto => new WeddingOrg.Domain.Entities.Cameraman(dto.cameramanName, dto.cameramanFacebook, dto.cameramanInstagram))
                .ToList();
        StateHasChanged();
    }

}