@page "/addphotographer"
@inject WeddingOrg.Controllers.PhotographersController PhotographersController
@using WeddingOrg.DTOs
@inject NavigationManager NavigationManager

<PageTitle>Dodaj fotografa</PageTitle>
<RadzenTemplateForm TItem="FilledInfo" Data=@fbInsta Submit=@OnSubmit>
    <RadzenCard Class="my-5 mx-auto" Style="max-width: 400px;">
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Nazwa fotografa</RadzenText>
        <RadzenTextBox Placeholder="np. OndeWedding" Name="Facebook" @bind-Value=@fbInsta.Name Style="width: 100%;" />
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Facebook fotografa</RadzenText>
        <RadzenTextBox  Placeholder="facebook.com" Name="Facebook" @bind-Value=@fbInsta.Facebook Style="width: 100%;" />
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Class="mt-4">Instagram fotografa</RadzenText>
        <RadzenTextBox  Placeholder="instagram.com" Name="Instagram" @bind-Value=@fbInsta.Instagram Style="width: 100%;" />
        <div class="row">
            <div class="col-md-12 d-flex align-items-end justify-content-left mt-4">

            </div>
            <RadzenButton ButtonType="ButtonType.Submit" Text="dodaj" />
        </div>       

    </RadzenCard>
</RadzenTemplateForm>
<div class="form-group">
    <input class="form-control" type="text" placeholder="Filtruj..."
           @bind="Filter"
           @bind:event="oninput">
</div>
<button style="margin:10px" class="btn btn-danger" @onclick="DeleteSelectedPhotographers">Usuń zaznaczone</button>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                <input type="checkbox" @onclick="SelectAll" />
            </th>
            <th>ID</th>
            <th>Nazwa fotografa</th>
            <th>Facebook fotografa</th>
            <th>Instagram fotografa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var photographer in Photographers)
        {
            if (!IsVisible(photographer))
                continue;
            <tr>
                <td><input type="checkbox" @bind="photographer.IsSelected" /></td>
                <td>
                    @photographer.Id
                </td>
                <td>
                    @photographer.Name
                </td>
                <td>
                    @photographer.Facebook
                </td>
                <td>
                    @photographer.Instagram
                </td>
             </tr>
        }
    </tbody>
</table>

@code {

    protected override async Task OnInitializedAsync()
    {
        Photographers = (await PhotographersController.GetPhotographers()).ToList();
    }
    private List<WeddingOrg.Models.Photographer> Photographers = new();

    public class FilledInfo
    {
        public string Facebook { get; set; }
        public string Name { get; set; }
        public string Instagram { get; set; }
    }
    FilledInfo fbInsta = new FilledInfo();
    async void OnSubmit(FilledInfo arg)
    {
        var updatePhotographerDto = new UpdatePhotographerDto(fbInsta.Name, fbInsta.Facebook, fbInsta.Instagram);
        await PhotographersController.CreatePhotographer(updatePhotographerDto);
        Photographers = (await PhotographersController.GetPhotographers()).ToList();
        StateHasChanged();
        NavigationManager.NavigateTo("/addphotographer", true);
    }

    public string Filter { get; set; }
    public bool IsVisible(WeddingOrg.Models.Photographer photographer1)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;
        if (photographer1.Name.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;
        if (photographer1.Facebook.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;
        if (photographer1.Instagram.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
    private void SelectAll()
    {
        foreach (var photographer in Photographers)
        {
            photographer.IsSelected = true;
        }
    }

    private async Task DeleteSelectedPhotographers()
    {
        var selectedPhotographers = Photographers.Where(r => r.IsSelected).ToList();
        foreach (var restaurant in selectedPhotographers)
        {
            await PhotographersController.DeletePhotographerById(restaurant.Id, default);
        }
        Photographers = (await PhotographersController.GetPhotographers()).ToList();
        StateHasChanged();
    }
}